* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: gainsboro;
}
a {
  text-decoration: none;
  color: black;
}
/* header */
em {
  color: rgb(92, 238, 92);
}
/* Styles pour le header */
header {
  background-color: white;
  padding: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75);
}

/* Styles pour la barre de navigation */
nav {
  padding-left: 5px;
  display: flex;
  align-items: center; /* Alignement vertical des éléments */
}

/* Styles pour le conteneur du logo et du menu */
.logo-menu {
  display: flex;
  gap: 20px;
  align-items: center; /* Alignement vertical des éléments */
}

/* Styles pour la liste non ordonnée (ul) */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Styles pour les items de la liste (li) */
ul li {
  display: inline-block;
  margin-right: 20px; /* Espacement entre les items */
}

/* Styles pour les liens dans les items de la liste */
ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

/* Styles au survol des liens */
ul li a:hover {
  color: green;
  font-size: 20px;
}

/* Styles pour le conteneur des icônes et des boutons */
.buton-icon {
  display: flex;
  align-items: center;
  margin-left: auto; /* Alignement à droite de la barre de navigation */
}

/* Styles pour les icônes */
i {
  padding: 15px;
  font-size: 20px;
}

/* Styles pour le bouton */
.button2 {
  background-color: green;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin: 10px;
}

/* body  */
/* section 1 */
.sec1 {
  display: flex;
  justify-content: space-between;
  max-height: 800px;
  overflow: hidden;
  background-color: white;
  margin-top: 1px;
  margin-bottom: 10px;
}
.sec1-gauche {
  margin-left: 5%;
  padding-top: 40px;
}
h5,
.p1,
.bt1 {
  margin: 10px;
  font-size: 25px;
  padding-top: 10px;
}
h5 {
  color: rgb(92, 238, 92);
}
h1 {
  font-size: 40px;
}
.bt1 {
  background-color: green;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 10px;
  padding: 15px;
}

.sec1-droite {
  padding: 20%;
  margin: 80%;
}

.img1 {
  width: 100%;
  height: auto;
}

/* section2 */
.sec2 {
  display: flex;

  justify-content: center;
  margin-bottom: 1%;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  padding: 20px;
}
.sec2-gauche {
  flex-direction: column;
  height: 14%;
  width: 12%;
  background-color: white;
  border-radius: 10px;
}
.img-sec2g {
  mix-blend-mode: multiply;
  width: 100%;
  height: auto;
}
.sec2 .sec2-droite {
  /* display: flex;
  flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 10%;

  margin-bottom: 4%;
  height: 30%;
  width: 60%;
  background-color: white;
  border-radius: 10px;
}
.img-sec2d {
  border-radius: 0px 40px 0px 61px;
  border: 7px solid #c9c7c7;
  height: 120px;
  width: 120px;
  margin-left: 5%;
  margin-bottom: 7%;
  margin-top: 1%;
}
.h3-1 {
  padding: 20px;
  font-size: 30px;
  color: rgb(243, 243, 102);
  text-decoration: underline;
}

/* Section3 */
.gallery {
  display: flex;
  justify-content: center;
}
.h3-2 {
  text-align: center;
  margin-bottom: 1%;
  color: green;
  font-size: 25px;
}
.gallery .content {
  text-align: center;
  height: 300px;
  width: 300px;
  background-color: white;
  margin: 1%;
  border-radius: 40px 40px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.img-gallery {
  width: 150px;
  height: 150px;
  margin: 10px;
  
}
.ul-gallery {
  display: flex;
  justify-content: center;
  text-align: center;
}
.card1 {
  font-size: 25px;
}
.card-p {
  font-size: 15px;
  color: rgb(182, 184, 185);
}
.h6-gallery {
  font-size: 20px;
}
.fa-star,
.fa-regular {
  color: green;
  padding: 5px;
  margin-bottom: 10px;
}
li {
  list-style: none;
}
.bt-sec3 {
  border: none;
  width: 100%;
  color: white;
  font-size: 15px;
  background: green;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}
/* section 4 */
.gallery2 {
  display: flex;
  justify-content: center;
}
.h3-2 {
  text-align: center;
  margin-bottom: 1%;
  color: green;
  font-size: 25px;
}
.gallery2 .content2 {
  text-align: center;
  height: 300px;
  width: 300px;
  background-color: white;
  margin: 1%;
  border-radius: 40px 40px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.img-gallery {
  width: 150px;
  height: 150px;
  margin: 10px;
  mix-blend-mode: multiply;
}
.ul-gallery {
  display: flex;
  justify-content: center;
  text-align: center;
}
.card1 {
  font-size: 25px;
}
.card-p {
  font-size: 15px;
  color: rgb(182, 184, 185);
}
.h6-gallery {
  font-size: 20px;
}
.fa-star,
.fa-regular {
  color: green;
  padding: 5px;
  margin-bottom: 10px;
}
li {
  list-style: none;
}
.bt-sec3 {
  border: none;
  width: 100%;
  color: white;
  font-size: 15px;
  background: green;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}
/* section 5 */
.section5{

 background: rgba(0, 0, 0, 0.7) url(img/cropped-SPOT-ESTEVAL-Copie.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
   background-blend-mode: darken;  
  margin-top: 1%;
}
.ma-photo{
  display: flex;
  justify-content: center;
  text-align: center;
}
.ma-photo .card-maphoto{
  text-align: center;
  flex-direction: column;
  width: 250px;
  height: 350px;
  background-color: white;
  margin-left: 1%;
  margin-top: 3%;
  margin-bottom: 2%;
  border-radius: 10px;
}
.mon-image{
  height: 100px;
  width: 100px;
border-radius: 50%;
padding: 10px;
}
.name-t{
  font-size: 15px;
  color: green;
padding: 10px;
}
.photo-p{
  text-align: center;
  padding: 5px;
}
.temoignages{
 text-align: center;
 font-size: 25px;
padding-top: 20px;
color: white;
}
.para-mon-i{
  text-align: center;
  color: white;
}
/* section 6 */

.sec6{
  display: flex;
  justify-content: center;
  
}
.sec6-1{
   display: flex; 
  justify-content: center;
  margin-top: 5%;
}
.sec6-1p{
  margin-top: 10%;
  margin-left: 3%;
}
.img-sec6{
  width: 400px;
  height: 400px;
  mix-blend-mode: multiply;
}
/* Section 7 */
.section7{
background: rgba(0, 0, 0, 0.7) url(img/projet\ 2\ img.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-blend-mode: darken;  
display: flex;
justify-content: center;
}
.section7 .first-mail{
  flex-direction: column;
width: 500px;
height: 200px;

}
.first-mail{
  text-align: center;
  margin-bottom: 5%;
}
.lab1{
  width: 120%;
padding: 10px;
margin-top:15%;
margin-right: 20%;
}
.bt-mail1{
  background: green;
  color: white;
width: 50%;
margin-top: 5%;
padding: 12px;
border-radius: 5px;
border: none;
}
/* section 8 */
.ma-cartoon{
  display: flex;
  justify-content: center;
  text-align: center;
}
.ma-cartoon .card-8{
  text-align: center;
  flex-direction: column;
  width: 250px;
  height: 350px;
  background-color: white;
  margin-left: 1%;
  margin-top: 3%;
  margin-bottom: 2%;
  border-radius: 10px;
}
.mon-image8{
  height: 100px;
  width: 100px;

padding: 10px;
}
.name-nec8{
  font-size: 15px;
  color: green;
padding: 10px;
}
.photo-nec{
  text-align: center;
  padding: 5px;
}
.Nos-services{
 text-align: center;
 font-size: 25px;
padding-top: 20px;
color: green;
margin-left: 1%;
}
/* Section9 */
.section9{
  background: rgba(0, 0, 0, 0.7) url(img/Projet_AFAO_CAWTAR_Session4_Jour2_15.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;  
  display: flex;
  justify-content: center;
  }
  .section9 .first-mail1{
    /* justify-content: center;
    flex-direction: column; */
  width: 600px;
  height: 400px;
  }
  .first-mail1{
    text-align: center; 
    margin-top: 1%;
    margin-right: 5%;
    
  }
  .lab-a{
   width: 110%; 
   padding-bottom: 20px;
   margin-top:5%;
  }
 
  .lab2{
    width: 110%;
  padding-bottom:  100px;
  margin-top:5%;
  margin-right: 20%;
  }
  .bt-mail2{
    background: green;
    color: white;
  width: 110%;
  margin-top: 2%;
  padding: 12px;
  border-radius: 5px;
  border: none;
}
.sn{
  text-align: center;
  color: white;
  font-size: 25px;
  margin-bottom: 3%;
}
/* section 10 */
.sec10{
  display: flex;
  justify-content: space-between;
  background-color: black;
  margin-top: 2%;
}
.sec10.objectif{
  
  flex-direction: column;
  width: 500px;
  height: 500px;
}
.objectif{
  text-align: center;
  color: white;
  margin-right: 50px;
  margin-bottom: 10px;
}
.objet{
  padding: 10px;
}
.p-objet{
  text-align: center;
}
/* footer */
.p-footer{
  text-align: center;
}